table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.buttons {
    border-radius: 3px;
    background-color: #7289da;
    border:none;
    font-weight: bold;
    color: aliceblue;
    height: 65px;
    width: 150px;
}

.headerText{
    font-family: sans-serif;
}