table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.buttons {
    border-radius: 3px;
    background-color: #7289da;
    border:none;
    font-weight: bold;
    color: aliceblue;
    height: 65px;
    width: 150px;
}

.headerText{
    font-family: sans-serif;
    text-align: center;
}

a {
    text-align: center;
}

@keyframes color {

    0%   { background: #33CCCC; }

    20%  { background: #33CC36; }

    40%  { background: #B8CC33; }

    60%  { background: #FCCA00; }

    80%  { background: #33CC36; }

    100% { background: #33CCCC; }

  }